@charset "utf-8";
/* CSS Document */
html,body,div,p,h1,h2,h3,h4,blockquote,pre,form,fieldset,ol,ul,li,dl,dd,dt,table,tbody,thead,tfoot,tr,th,td {
	margin: 0;
	padding: 0;
}
body {
	font: 12px/1.5 Tahoma,"宋体";
	color: #333;
    background:url("../img/bg.jpg") 0 0 repeat;
}
.ft_yh {
	font-family: "Microsoft Yahei",sans-serif;
}
img {
	border: 0;
}
button {
	vertical-align: middle;
	cursor: pointer;
}
input,img {
	vertical-align: middle;
}
input,textarea {
	font-size: inherit;
}
textarea {
	border-style: solid;
	border-width: 1px;
	border-color: #CECECE;
	padding: 4px 4px 2px;
	background: #FFF url("http://vr0.6.cn/imges/live/CSSIMG/textInputBg.png") no-repeat 0 0;
	resize: vertical;
	overflow-y: auto;
}
ul,ol {
	list-style: none;
}
table {
	border-collapse: collapse;
}
table th a {
	color: #000;
}
table th a.on {
	font-weight: 700;
	text-decoration: none;
}
a {
	outline: 0;
	color: #f09;
	text-decoration: none;
}
a:hover {
	color: #f09;
	text-decoration: underline;
}
em {
	font-style: normal;
}
i {
	font-style: normal;
	vertical-align: middle;
	display: inline-block;
	*zoom: 1;
	*display: inline;
}
fieldset {
	border: 0;
}
legend {
	display: none;
}
h1,h2,h3,h4,h5,h6 {
	font-size: 14px;
	margin:0;
	padding:0;
}
.clear {
	clear: both;
}
.fix {
	zoom: 1;
}
.fix:after,.headWrap:after,.topNav:after,.headCon:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	font-size: 0;
}
.userPanel {
	margin-right: 0
}
.page-area {
	width: 100%;
	min-width: 1200px;
	height: 100%;
	min-height: 680px;
	position: relative;
	overflow: hidden;
}
.header-room,.room_area,.side-area {
	width: 100%
}
.live-area {
	max-width: 1620px;
}
.live_area .live-con {
	margin: 0 110px 0 120px
}
.live-area {
	margin: 10px auto 0
}
.live-area .column1 {
	width: 450px;
	float: left;
	position: relative;
}
.live-area .column2 {
	margin-left: 455px;
}
.live-area .col_chat {
	width: 71%;
	float: left
}
.live-area .col-viewer {
	width: 29%;
	float: left;
	position: relative;
}
.red{
	color:red;
}
.blue{
	color:blue;
}
.green{
	color:green;
}
