@charset "utf-8";
/* CSS Document */
.header-room {
	height: 30px;
	position:relative;
}
.header-room .blackbg{
	height:30px;
	width:100%;
	opacity:0.8;
	filter:alpha(opacity=80);
	background:#000;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
}
.header-room .logo {
	float: left;
}
.header-room .logo span{
	color:#fff;
	line-height:30px;
	margin-left:10px;
}
.header-room .logo a {
	display: block;
	float:left;
	width: 80px;
	height: 30px;
	line-height: 100px;
	overflow: hidden;
	background: url("../img/logo_title.png") no-repeat center 7px;
}
.header-room .logo a:hover {
}
.header-room .logo a:active {
}
.header-room .topmenu{
	position:absolute;
	height:30px;
	left:45%;
	top:0;
}
.header-room .topmenu li{
	float:left;
}
.header-room .topmenu li a{
	color:#fff;
	height:30px;
	line-height:30px;
	padding:0 15px;
}
.header-room .userPanel {
	float: right;
	padding-top: 0
}
.header-room .userPanel li {
	float: left;
	padding-top:6px;
}
.header-room .userPanel li a {
	font-size: 12px;
	color: #fff;
	padding:0 10px;
	border-right: 1px solid #666;
	height: 14px;
	line-height: 12px;
	display: inline-block;
}
.header-room .userPanel li a:hover{
	text-decoration:underline;
}
.header-room .userPanel li a:active{
	text-decoration:underline;
}
.header-room .userPanel li.userid span {
	font-size: 12px;
	color: #ff5400;
	padding:0 10px;
	border-right: 1px solid #666;
	height: 14px;
	line-height: 12px;
	display: inline-block;
}
.header-room .userPanel li.login a{
	border-right:none;
} 
.anchor-area {
	height:100px;
	position:relative;
}
.anchor-area .blackbg{
	height:110px;
	width:100%;
	opacity:0.8;
	filter:alpha(opacity=80);
	background:#333;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
}
.anchor-area .pic {
	float: left;
	position: relative;
	width: 80px;
	height: 80px;
	background: #fff;
	box-shadow: 0 0 3px #666;
	margin:10px;
}
.anchor-area .pic img {
	width: 80px;
	height: 80px
}
.anchor-area .intro {
	float: left;
	width: 330px;
	padding-right: 10px;
	margin-top:2px;
	position:relative;
}
.anchor-area .intro .attention{
	color:#fff;
	width:69px;
	height:27px;
	line-height:27px;
	text-align:center;
	display:block;
	position:absolute;
	top:15px;
	right:0;
	background:url("../img/btn/btn1.png") no-repeat 0 0;
	cursor:pointer;
}
.anchor-area .intro .us {
	color:#cdcdcd;
	height: 20px;
	line-height: 20px;
	padding-top: 3px
}
.anchor-area .intro .us em{
	color:#f33877;
	padding:0 3px;
}
.anchor-area .intro .us span {
	float: left;
}
.anchor-area .intro .us .name {
	color:#fff;
	font-weight: bold;
}
.mySite {
	height:90px;
	position:relative;
}
.mySite .blackbg{
	height:90px;
	width:100%;
	opacity:0.8;
	filter:alpha(opacity=80);
	background:#333;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
}
.mySite div.site{
	width:80px;
	height:90px;
    display:inline;
	margin:0 4px;
	cursor:pointer;
	float:left;
	background:url("../img/safa.png") no-repeat center center;
}
.gift-box{
	padding-top:5px;
}
.gift-box ul li{
	float:left;
	position:relative;
}
.gift-box .gift-tab li{
	background:#727272;
	margin-right:5px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
.gift-box .gift-tab li a{
	color:#bbbbbb;
	font-size:12px;
	display:inline-block;
	padding:5px 0;
	width:40px;
	padding-left:32px;
	margin-right:5px;
}
.gift-box .gift-tab li.on{
	color:#333;
	background:#f8f8f8;
}
.gift-box .gift-icon{
	background:url("../img/icons/tabBtn6b.png") no-repeat 5px 2px;
}
.gift-box .prop-icon{
	background:url("../img/icons/tabBtn7b.png") no-repeat 5px 2px;
}
.gift-box  .game-icon{
	background:url("../img/icons/tabBtn8b.png") no-repeat 5px 2px;
}
.gift-box .gift-body{
	background:#f8f8f8;
}
.gift-box .gift-child-tab{
	padding:5px 10px;
}
.gift-box .gift-child-tab li a{
	color:#5b5a5a;
	font-size:12px;
	width:50px;
	height:20px;
	display:inline-block;
	text-align:center;
	margin-right:5px;
}
.gift-box .gift-child-tab li.on a{
	color:#fff;
	background:#999;
	text-decoration:none;
}
.gift-box .gift-child-tab li a:hover{
	color:#fff;
	background:#999;
	text-decoration:none;
}
.gift-box .gift-child-tab li a:active{
	color:#fff;
	background:#999;
	text-decoration:none;
}
.gift-box .gift-child-body ul{
	margin:0 10px;
	padding-bottom:5px;
}
.gift-box .gift-child-body ul li{
	padding:5px 10px;
}
.gift-box .gift-child-body ul li:hover{
	background:#dceaf6;
}
.gift-box .gift-child-body ul li p{
	text-align:center;
}
.present-box{
	height:30px;
	background:#f8f8f8;
	border-top:1px solid #d8d8d8;
	padding:5px;
}
.present-box .input-text{
	width:50px;
	height:18px;
	line-height:18px;
	padding:3px;
	border:1px solid #a5a5a5;
}
.present-box span{
	float:left;
	display:block;
}
.present-box .g-num{
	position:relative;
	margin-right:5px;
}
.present-box .g-num .shape{
	position:absolute;
	right:2px;
	top:3px;
	background:url("../img/scollbar/arrowUp.png") no-repeat center center;
	width:18px;
	height:18px;
	display:block;
	text-indent:-9999em;
	overflow:hidden;
}
.present-box .g-person{
	margin-left:2px;
	position:relative;
}
.present-box .g-person .input-text{
	width:78px;
}
.present-box .g-person .to-select{
	position:absolute;
	right:2px;
	top:3px;
	background:url("../img/scollbar/arrowUp.png") no-repeat center center;
	width:18px;
	height:18px;
	display:block;
	text-indent:-9999em;
	overflow:hidden;
}
.present-box .g-send a {
	display: block;
	width: 62px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background:url("../img/btn/btn3.png") no-repeat 0 0;
	color: #fff;
	text-decoration: none;
	margin-left:3px;
}
.present-box .g-pay a {
	display: block;
	width: 62px;
	height: 25px;
	line-height: 25px;
	text-indent:27px;
	background:url("../img/btn/btn4.png") no-repeat 0 0;
	color: #fff;
	text-decoration: none;
	margin-left:3px;
}
.present-box .g-money{
	margin-left:5px;
	line-height:25px;
}
.present-box .g-money em{
	color:#ff6c00;
}
.room-blackboard{
	height:100px;
	position:relative;
}
.room-blackboard .blackbg{
	height:100px;
	width:100%;
	opacity:0.8;
	filter:alpha(opacity=80);
	background:#333;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
}
.room-blackboard .gift-notice ul li{
	color:#a5a5a5;
	height:30px;
	line-height:30px;
	text-indent:10px;
}
.room-chat-panel{
	margin-top:8px;
	position:relative;
}
.room-chat-panel .song-icon{
	width:72px;
	height:26px;
	display:block;
	overflow:hidden;
	text-indent:-9999em;
	position:absolute;
	z-index:100;
	top:2px;
	left:165px;
	background:url("../img/dg2.png") no-repeat 0 0;
}
.room-chat-panel .garage-icon{
	width:72px;
	height:26px;
	display:block;
	overflow:hidden;
	text-indent:-9999em;
	position:absolute;
	z-index:100;
	top:2px;
	right:0;
	background:url("../img/garage.png") no-repeat 0 0;
}
.room-chat-panel .garage-icon{
}
.room-chat-tab {
	height: 30px;
	position: relative;
	z-index: 2;
}
.room-chat-tab li{
	float:left;
	position:relative;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	background:#727272;
	margin-right:5px;
}
.room-chat-tab li a{
	color:#bbbbbb;
	font-size:12px;
	display:inline-block;
	padding:6px 0;
	width:40px;
	padding-left:32px;
	margin-right:5px;
}
.room-chat-tab li.on{
	background:#f8f8f8;
}
.room-chat-tab li.on a{
	color:#333;
}
.room-chat-tab li .all-icon{
	background:url("../img/icons/tabBtn1b.png") no-repeat 5px 2px;
}
.room-chat-tab li .gift-icon{
	background:url("../img/icons/tabBtn6b.png") no-repeat 5px 2px;
}
.room-chat-body{
	position:relative;
	background:#f8f8f8;
}
.chatList li{
	line-height:24px;
}
.watch-chat .chat-public {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 76px;
	overflow: auto;
	width: 100%;
	height:407px;
	overflow-x: hidden!important;
}
.watch-chat .chat-private {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 74px;
	overflow: auto;
	width: 100%;
	overflow-x: hidden!important;
}
.watch-chat .room-chat-bg{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:92px;
	width:100%;
}
.watch-chat .stream{
	padding:5px 8px;
}
.watch-chat .chat-bar{
	position:absolute;
	bottom:74px;
	cursor:s-resize;
	left:0;
	height:2px;
	padding:3px 0;
	width:100%;
}
.watch-chat .chat-bar span {
	display: block;
	height: 2px;
	width: 100%;
	background: black;
	opacity: 0.1;
	filter: alpha(opacity=10);
}
.watch-chat .chat-bar i {
	display: block;
	position: absolute;
	left: 50%;
	top: 0;
	width: 12px;
	height: 5px;
	margin-left: -6px;
	background: url(http://vr0.6.cn/imges/room/room_chat_body_v6.png) no-repeat -100px 0;
}
.watch-chat-act {
	height: 92px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.watch-chat-act .chat-set {
	height: 30px;
	background: #525252;
	width: 100%;
}
.watch-chat-act .chat-set .input-text {
	display: block;
	padding: 2px 22px 2px 8px;
	width: 76px;
}
.watch-chat-act .chat-set .to{
	color:#fff;
	float:left;
	margin:6px 4px 0 4px;
}
.watch-chat-act .chat-set .to-name {
	margin: 3px 0 0 3px;
	float: left;
	position: relative;
}
.watch-chat-act .chat-set .to-name a {
	position: absolute;
	right: 2px;
	top: 4px;
	width: 18px;
	height: 18px;
	overflow: hidden;
	line-height: 100px;
	background:url("../img/scollbar/arrowUp.png") no-repeat center center;
}
.watch-chat-act .chat-set .to-priv {
	float: left;
	margin: 6px 10px 0 2px;
}
.watch-chat-act .chat-set .to-priv .t2{
	color:#969696;
}
.watch-chat-act .chat-set button {
	float: left;
	width: 22px;
	height: 22px;
	border: 0;
	margin:5px 5px 0 0;
}
.watch-chat-act .chat-set .face{
	background:url("../img/chat/chatBtn1a.png") no-repeat 0 0;
}
.watch-chat-act .chat-set .face:hover{
	background:url("../img/chat/chatBtn1b.png") no-repeat 0 0;
}
.watch-chat-act .chat-set .face:active{
	background:url("../img/chat/chatBtn1b.png") no-repeat 0 0;
}
.watch-chat-act .chat-set .colorbar{
	background:url("../img/chat/chatBtn2a.png") no-repeat 0 0;
}
.watch-chat-act .chat-set .colorbar:hover{
	background:url("../img/chat/chatBtn2b.png") no-repeat 0 0;
}
.watch-chat-act .chat-set .colorbar:active{
	background:url("../img/chat/chatBtn2b.png") no-repeat 0 0;
}
.watch-chat-act .chat-set .seal{
	background:url("../img/chat/chatBtn5a.png") no-repeat 0 0;
}
.watch-chat-act .chat-set .seal:hover{
	background:url("../img/chat/chatBtn5b.png") no-repeat 0 0;
}
.watch-chat-act .chat-set .seal:active{
	background:url("../img/chat/chatBtn5b.png") no-repeat 0 0;
}
.watch-chat-act .chat-set .wheat{
	background:url("../img/chat/chatBtn4a.png") no-repeat 0 0;
}
.watch-chat-act .chat-set .wheat:hover{
	background:url("../img/chat/chatBtn4b.png") no-repeat 0 0;
}
.watch-chat-act .chat-set .wheat:active{
	background:url("../img/chat/chatBtn4b.png") no-repeat 0 0;
}
.watch-chat-act .chat-set .dice{
	background:url("../img/chat/chatBtn3a.png") no-repeat 0 0;
}
.watch-chat-act .chat-set .dice:hover{
	background:url("../img/chat/chatBtn3b.png") no-repeat 0 0;
}
.watch-chat-act .chat-set .dice:active{
	background:url("../img/chat/chatBtn3b.png") no-repeat 0 0;
}
.watch-chat-act .chat-set .lockscreen{
	background:url("../img/chat/chatBtn7a.png") no-repeat 0 0;
}
.watch-chat-act .chat-set .lockscreen:hover{
	background:url("../img/chat/chatBtn7b.png") no-repeat 0 0;
}
.watch-chat-act .chat-set .lockscreen:active{
	background:url("../img/chat/chatBtn7b.png") no-repeat 0 0;
}
.watch-chat-act .chat-set .usermenu{
	background:url("../img/chat/chatBtn6a.png") no-repeat 0 0;
}
.watch-chat-act .chat-set .usermenu:hover{
	background:url("../img/chat/chatBtn6b.png") no-repeat 0 0;
}
.watch-chat-act .chat-set .usermenu:active{
	background:url("../img/chat/chatBtn6b.png") no-repeat 0 0;
}
.watch-chat-act .chat-set .votes{
	background:url("../img/chat/popularVotesa.png") no-repeat 0 0;
}
.watch-chat-act .chat-set .votes:hover{
	background:url("../img/chat/popularVotesb.png") no-repeat 0 0;
}
.watch-chat-act .chat-set .votes:active{
	background:url("../img/chat/popularVotesb.png") no-repeat 0 0;
}
.watch-chat-act .chat-txt {
	padding: 3px 19px 0 3px;
	position: relative;
}
.watch-chat-act .chat-txt .input-text {
	width: 100%;
	background: #E6E6E6;
}
.watch-chat-act .chat-txt .chat-btn{
	position:absolute;
	top:30px;
	right:15px;
	width:68px;
	height:25px;
	display:block;
	border:0;
	background:url("../img/send21.png") no-repeat 0 0;
}
.watch-chat-act .chat-txt .chat-btn:hover{
	background:url("../img/send22.png") no-repeat 0 0;
}
.live-area  .room-rank-panel{
	height:200px;
	background:#f8f8f8;
	margin:5px 0 5px 5px;
	position:relative;
}
.room-rank-tab .room-rank-head{
	height:30px;
	line-height:30px;
	padding-left:35px;
	position:relative;
}
.room-rank-tab .room-rank-head i{
	width:20px;
	height:20px;
	display:block;
	position:absolute;
	top:5px;
	left:10px;
	background:url("../img/roomrank-title.png") no-repeat 0 0;
}
.room-rank-tab .room-rank-head span{
	font-weight:normal;
	font-size:12px;
}
.room-rank-panel .datetab{
	position:absolute;
	top:5px;
	right:5px;
}
.room-rank-panel .datetab li{
	float:left;
}
.room-rank-panel .datetab li a{
	color:#727272;
	width:24px;
	height:26px;
	line-height:26px;
	text-align:center;
	display:block;
	float:left;
	background:url("../img/rank/btn1a.png") no-repeat 0 0;
}
.room-rank-panel .datetab li.on a{
	color:#b46100;
	background:url("../img/rank/btn1.png") no-repeat 0 0;
}
.room-rank-list ul{
	width:98%;
	margin:5px auto;
}
.room-rank-list ul li span{
	height:25px;
	line-height:25px;
	float:left;
}
.room-rank-list ul li .title{
	color:#fff !important;
	background:#959595;
}
.room-rank-list ul li .num{
	width:20%;
	text-align:center;
}
.room-rank-list ul li .numbg{
	width:16px;
	height:14px;
	display:float;
	margin-top:7px;
	margin-left:10px;
	background:url("../img/rank/ranknum.png") no-repeat 0 0;	
}
.room-rank-list ul li .num1{
	background-position:0 0;	
}
.room-rank-list ul li .num2{
	background-position:0 -23px;	
}
.room-rank-list ul li .num3{
	background-position:0 -47px;	
}
.room-rank-list ul li .num4{
	background-position:0 -72px;	
}
.room-rank-list ul li .num5{
	background-position:0 -95px;	
}
.room-rank-list ul li .name{
	width:50%;
	text-align:center;
}
.room-rank-list ul li .name a{
	color:#0883ff;
}
.room-rank-list ul li .coin{
	color:#ff6c00;
	width:30%;
	text-align:center;
}
.live-area .room-viewer-panel {
	margin-left: 5px;
}
.room-viewer-search{
	width:210px;
	height:30px;
	padding:5px;
	position:relative;
}
.room-viewer-search .input-text{
	display: block;
	padding: 5px 22px 5px 8px;
	width: 150px;
	height:16px;
	line-height:16px;
	float:left;
	border:1px solid #d1d1d1;
}
.room-viewer-search .search-icon{
	width:20px;
	height:20px;
	background:url("../img/search.png") no-repeat 0 0;
	display:block;
	position:absolute;
	top:10px;
	left:160px;
	border:0;
}
.room-viewer-search .location{
	width:25px;
	height:26px;
	display:block;
	position:absolute;
	top:5px;
	right:5px;
	border:1px solid #d1d1d1;
	background:url("../img/userlist/up.png") no-repeat 0 0;
}
.room-viewer-tab {
	height: 30px;
	position: relative;
}
.room-viewer-tab li {
	float: left;
	height: 30px;
	position: relative;
}
.room-viewer-tab li a {
	display: block;
	text-align: center;
	color: #999;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background:#727272;
	margin-right:5px;
	padding:0 20px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
.room-viewer-tab li.on a{
	color:#333;
	background:#f8f8f8;
}
.room-viewer-list {
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	height: 350px;
	border: 1px solid #E8E8E8;
	border-top: 0;
	background:#f8f8f8;
}
.ulist-spectator .userList li{
	margin: 5px 0;
}
.ulist-spectator .userList li img{
	float:left;
	display:inline;
	margin:0 5px 0 5px;
	overflow:hidden;
}
.ulist-spectator .userList li p{
	height:20px;
	line-height:20px;
}
.user-tool{
	margin:0 0 0 5px;
	background:#f8f8f8;
	height:65px;
	margin-top:5px;
}
.user-tool ul li{
	float:left;
	width:24%;
	text-align:center;
}
.user-tool ul li a{
	color:#465683;
}
.user-tool ul li .item{
	width:32px;
	height:35px;
	display:block;
	margin:5px auto 0;
}
.user-tool ul li .manage{
	background:url("../img/managerbutton/btnnew5a.png") no-repeat 0 0;
}
.user-tool ul li .set{
	background:url("../img/managerbutton/btnnew4a.png") no-repeat 0 0;
}
.user-tool ul li .broadcast{
	background:url("../img/managerbutton/btnnew3a.png") no-repeat 0 0;
}
.user-tool ul li .invite{
	background:url("../img/managerbutton/btn7a.png") no-repeat 0 0;
}

